html {
  color: $main;
  font-family: $default-font;
  font-size: $default-font-size;
  background: $background;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}