i {
  height: $default-icon-height-and-weight;
  width: $default-icon-height-and-weight;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  &:hover {
    background: whitesmoke;
  }
}

i.icon-search {
  background: url(/blog/assets/icons/search.svg) content-box;
}

i.icon-menu {
  background: url(/blog/assets/icons/menu.svg) content-box;
}
