.overflow-menu {
  display: none;
}

.overflow-menu {
  background: $white;

  position: absolute;
  width: 100%;
  padding: 0 $mobile-default-margin;
  box-sizing: border-box;
  z-index: 2;

  .logo, .logo img {
    height: 50px;
  }
}

.overflow-menu__row {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}