.post {
  margin-bottom: $desktop-default-margin;

  .post-header-title, .post-header-time, .separator {
    margin-bottom: $mobile-default-margin;
  }
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    .post-header-title {
      font-size: $mobile-post-header-font-size;
      font-weight: bold;
      font-family: $headings-font;
      margin: 0 10px 10px 0;
    }
    .post-header-time {
      font-family: $secondary-font;
      font-size: $mobile-post-time-font-size;
    }
    .post-header-author {
      flex-basis: 100%;
      margin-bottom: $mobile-default-margin;
    }
  }
  .post-tags {
    display: flex;
    flex-flow: row wrap;

    .post-tag {
      background: $tag;
      padding: 0 $mobile-default-margin;
      color: $white;
      margin-right: $mobile-default-margin;
      margin-bottom: $mobile-default-margin;
    }
  }
  .post-content {
    text-align: left;

    blockquote {
      border-left: 4px solid #56ccf2;
      float: right;
      font-size: 1.6rem;
      margin: 0 0 20px 20px;
      padding-left: 20px;
      text-align: left;

      p {
        margin: 0;
      }
    }
  }
  .post-footer {
    margin-top: $desktop-secondary-margin;

    .separator {
      margin: 20px 0;
    }

    .warning {
      text-align: center;
    }
  }
}

/* MEDIA */
// Styles for tablet
@media all and (min-width: $breakpoint-sm) {
  .post .post-content {
    text-align: justify;

    blockquote {
      width: 285px;
      max-width: 50%;
    }
  }
}