<header>
    <label for="menu-trigger">
        <i class="icon-menu"></i>
    </label>
    <input type="checkbox" id="menu-trigger" checked>
    <a class="logo" href="{{ '/about' | relative_url }}"><img src="{{ '/assets/images/avatar.png' | relative_url }}"></a>
    <div class="menu">
        {% for item in site.menu %}
            <div class="stretched-row">
                <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}active{% endif %}">{{item.name}}</a>
            </div>
        {% endfor %}
        {% for item in site.links %}
            <a target="_blank" href="{{ item.url | relative_url }}"><i><img src="{{item.ico}}"></i></a>
        {% endfor %}
    </div>
</header>
