article.post {
  margin-bottom: 0;

  .post-header .post-header-title {
    font-size: $desktop-post-header-font-size;
  }
  a {
    font-weight: bold;
    border-bottom: 1px dashed;
    &:hover {
      color: $cyan;
    }
  }
}
