article.post {
  .post-header .post-header-title {
    font-size: $desktop-post-header-font-size;
  }
  .post-content {
    a {
      font-weight: bold;
      border-bottom: 1px dashed;
      &:hover {
        color: $cyan;
      }
    }
  }
}
