---
layout: default
---
{{content}}
{%- if site.posts.size > 0 -%}
  {%- for page in site.posts -%}
    {% unless page.category 'translation' %}
    <div class="post">
      <div class="post-header">
        <h2 class="post-header-title">{{ page.title | escape }}</h2>
        <div class="post-header-time">
          {% include date.html %}
        </div>
      </div>
      <div class="separator"></div>
      {%- if site.show_excerpts -%}
        <div class="post-content">{{ page.excerpt }}</div>
      {%- endif -%}
      <div class="post-footer">
        <a href="{{ page.url | relative_url }}" class="active">Читать дальше</a>
        <span>{%- include time.html -%}</span>
      </div>
    </div>
    {% endunless %}
  {%- endfor -%}
{%- endif -%}