---
layout: default
---

{%- if site.posts.size > 0 -%}

  {%- for post in site.posts -%}

    <div class="post">
      <div class="post-header">
        <div class="post-header-title">{{ post.title | escape }}</div>
        {%- assign date_format = site.date_format -%}
        <div class="post-header-time">{{ post.date | date: date_format }}</div>
      </div>
      <div class="separator"></div>
      {%- if site.show_excerpts -%}
        <div class="post-content">{{ post.excerpt }}</div>
      {%- endif -%}
      <div class="post-footer">
        <a href="{{ post.url | relative_url }}" class="active">Читать дальше</a>
      </div>
    </div>

  {%- endfor -%}

{%- endif -%}