// Shared styles
header {
  display: flex;
  align-items: center;

  background: $white;
  padding: 0 $mobile-default-margin;
  width: 100%;
  box-sizing: border-box;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 110px;
    min-width: 110px;

    border-radius: 55px;

    background: $purple;
    background: -moz-linear-gradient(top, $purple 0%, $cyan 100%);
    background: -webkit-linear-gradient(top, $purple 0%,$cyan 100%);
    background: linear-gradient(to bottom, $purple 0%,$cyan 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$purple, endColorstr=$cyan,GradientType=0 );

    &:hover {
      background: $cyan;
    }
  }

  #menu-trigger {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    width: 100%;

    i {
      padding: 5px;
    }
  }
}

// Styles for Mobile
@media all and (max-width: $breakpoint-sm) {
  header {
    font-size: 2rem;
    flex-direction: column;
  }
  label {
    height: $mobile-header-height;

    i {
      position: absolute;
      left: 10px;
      top: 15px;
    }
  }
  .stretched-row {
    flex-basis: 100%;
    text-align: center;
  }
  #menu-trigger {
    &:checked ~ * {
      display: none;
    }
  }
  .menu {
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > * {
      margin: 30px 0;
    }
  }
}

// Styles for tablet
@media all and (min-width: $breakpoint-sm) {
  header {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;

    &:before {
      content: "";
      height: $mobile-header-height;
      width: 100%;
      display: block;
      background: $white;
      position: absolute;
      left: 0;
      z-index: -1;
      box-shadow: 0 0 4px #e5e5e5;
    }
    label {
      display: none;
    }
    .logo {
      min-height: 55px;
      min-width: 55px;

      margin: 0;

      img {
        height: 50px;
        width: 50px
      }
    }
    .menu {
      flex-basis: 100%;
      margin-left: 40px;
      justify-content: space-between;

      .stretched-row {
        flex-basis: initial;
        margin-bottom: 0;
      }
    }
  }
}

// Styles for PC
@media all and (min-width: $breakpoint-md) {
  header {
    height: $desktop-header-height;
    max-width: $content-width;
    padding: 0 $desktop-default-margin;
    font-size: 1.2rem;

    &:before {
      height: $desktop-header-height;
    }
    .logo {
      min-height: 110px;
      min-width: 110px;

      img {
        height: initial;
        width: initial;
      }
    }
    a {
      font-size: $desktop-header-link-height;
    }
  }
}