// Styles for mobile
header {
  background: $white;
  height: $mobile-header-height;
  padding: 0 $mobile-default-margin;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .overflow-menu__row {
    display: flex;
    align-items: center;

    .overflow-menu__row-title-column {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  .logo {
    display: none;
  }

  .header-left, .header-right {
    display: none;
    align-items: center;
  }

  .header-left {
    justify-content: flex-start;
  }

  .header-right {
    justify-content: flex-end;
  }

  &:before {
    content: "";
    height: $mobile-header-height;
    width: 100%;
    display: block;
    background: $white;
    position: absolute;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 4px #e5e5e5;
  }

  #burger-menu{
    display: none;
  }

  .wrapper-menu{
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    z-index: -2;
    background: white;
    transition: top .3s;
    box-shadow: 0 0 4px #e5e5e5;
    padding: 10px 10px 30px;
  }

  #burger-menu:checked~ .wrapper-menu{
    top: 60px;
  }
}


/* MEDIA */
// Styles for tablet
@media all and (min-width: $breakpoint-sm) {
  header {
    .menu-button{
      display: none;
    }

    .header-right {
      i {
        padding: 5px;
      }
    }
    .header-right, .header-left {
      display: flex;
    }

    .header-left > *, .header-right > * {
      margin: 0 10px;
    }

    .header-left > a:first-of-type {
      margin-left: 0;
    }

    .header-right > a:last-of-type {
      margin-right: 0;
    }
  }
}

// Styles for PC
@media all and (min-width: $breakpoint-md) {
  header {
    height: $desktop-header-height;
    max-width: $content-width;
    padding: 0 $desktop-default-margin;

    &:before {
      height: $desktop-header-height;
    }

    .logo {
      color: transparent;
      display: block;
      //background: url(/assets/images/avatar.png);
      position: absolute;
      left: calc(50% - 55px);
      min-height: 100px;
      min-width: 100px;

      border: 5px solid $cyan;
      border-radius: 100px;
      font-size: 0;

      //background: $purple;
      //background: -moz-linear-gradient(top, $purple 0%, $cyan 100%);
      //background: -webkit-linear-gradient(top, $purple 0%,$cyan 100%);
      //background: linear-gradient(to bottom, $purple 0%,$cyan 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$purple, endColorstr=$cyan,GradientType=0 );
    }

    a {
      font-size: $desktop-header-link-height;
    }
  }
}